{% extends "auctions/layout.html" %}

{% block body %}
    <h1>{{ listing.title }}</h1>
    <div>{{ listing.description }}</div>
    <div>{{ listing.starting_bid }}</div>
    <div><img src="{{ listing.image_url }}"></div>
    <div>{{ listing.category }}</div>
    <div>{{ listing.poster }}</div>
    {% if user.is_authenticated %}
        <form action="{% url 'listing' listing.id %}" method="post">
            {% csrf_token %}
            <input class="btn btn-primary" type="submit" value="add to watchlist">
        </form>
    {% endif %}
    
{% endblock %}